
/*ul,li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}*/
/*滚动条样式*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.5);
    background-clip: padding-box;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#content{
	padding-bottom: 0;
}
.nav-tabs{
	border-top: 1px solid #ddd;
}
.nav-tabs>li>a{
	border-radius: 0;
}
.hidden-inline-mobile{
	display: inline-block;
	margin: 0 20px;
}
i.icon-close:hover{
	color: red;
	cursor: pointer;
}
#box_tab1{
	padding: 30px 3% 30px 3%;
	position: relative;
}

#left-form{
	float: left;
	width: 65%;
}
#left-form .form-group>label{
	float: left;
	width: 75px;
	font-size: 15px;
	font-weight: 400;
}

.form-horizontal .form-group{
	margin-left: 0;
    margin-right: 0;
    position: relative;
}
#left-form .form-title{
	margin: 30px 0;
}
.form-group .data-company{
	margin-left: -15px;
}

.form-group .btn-update{
	width: 120px;
	position: absolute;
	left: 15px;
	top: 0;
}
.form-group .file-update{
	width: 120px;
	height: 35px;
	position: absolute;
	left: 15px;
	top: 0;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}
.form-group .product-img{
	margin-top: 50px;
	padding: 0;
}
.form-group .product-img .list{
	float: left;
	margin: 0 15px 0 0;
	list-style-type: none;
}

/*添加参数*/
#left-form .parameter{
	margin: 15px 0;
	padding: 0;
}
#left-form .parameter .list{
	list-style-type: none;
	position: relative;
	margin-bottom: 15px;
}
.parameter .list .parameter-name{
	width: 120px;
	float: left;
}
.parameter .list .parameter-value{
	width: 230px;
	margin-left: 5px;
	float: left;
}
.parameter .list .parameter-delete{
	display: inline-block;
	position: absolute;
	left: 370px;
	top: 5px;
	width: 25px;
	height: 25px;
	line-height: 28px;
	border-radius: 50%;
	color: white;
	background-color: red;
	text-align: center;
	cursor: pointer;
}
.box.border, .box.border .box-body{
	max-width: 841px;
	position: relative;
}
.form-group .security-tip{
	height: 35px;
	line-height: 35px;
	padding-left: 0;
}
/*图片上传*/
.box.border.inverse {
    border: 1px solid #C4C4C4;
}

/*产品详细*/
body{
	position: relative;
}

/*推荐产品*/
.recommend-product .checkbox{
	margin-bottom: 15px;
	font-size: 16px;
}
.recommend-product .checkbox input{
	cursor: pointer;
}
/*右边模块*/
#right-box{
	position: fixed;
	right: 10%;
	top: 120px;
	width: 360px;
	height: 600px;
	font-size: 15px;
	padding-bottom: 20px;
	background: url(../img/iPhone_black.png) no-repeat;
	background-size: cover;
}
#right-box .box-phone{
	width: 251px;
	height: 440px;
	margin: 72px 35px 80px 80px;
	overflow: auto;
	background-color: white;
}
#product-img{
	width: 100%;
	height: 140px;
	margin: 0 auto;
	position: relative;
}
#product-img .carousel-indicators{
	bottom: -5px;
}
#product-img .carousel-inner, #product-img .carousel-inner .item{
	width: 100%;
	height: 140px;
}
#product-img .carousel-inner .item img{
	width: 100%;
	height: 100%;
}
.box-product-infor{
	width: 100%;
	height: auto;
	margin-top: 15px;
}
.box-product-infor .infor-title{
	width: 92%;
	height: auto;
	margin: 0 auto 10px;
	color: #565656;
	font-size: 18px;
}
.box-product-infor .infor-title .product-name{
	color: #4AA5FF;
	font-size: 18px;
	line-height: 28px;
}
.box-product-infor .infor-title .product-retail{
	float: right;
	color: #FF5B4F;
	font-size: 19px;
}
.box-product-infor .infor-content{
	width: 92%;
	height: auto;
	margin: 0 auto 10px;
	word-break: break-all;
	word-wrap:break-word;
	color: #737373;
	font-size: 13px;
}
.box-product-infor .infor-content .infor{
	font-size: 15px;
}
.infor-content .infor .name{
	margin-right: 15px;
}
.box-product-infor .boundary{
	width: 100%;
	height: 10px;
	background-color: #F5F5F5;
}
.box-product-infor .btn-website, .box-product-infor .btn-shopping{
	width: 60%;
	margin: 0 20% 15px;
	border: none;
	color: white;
}
.box-product-infor .btn-website{
	background-color: #4AA5FF;
}
.box-product-infor .btn-shopping{
	background-color: #DADADA;
}
.product-parameter{
	padding: 0;
}
.product-parameter li{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.product-parameter li .name{
	float: left;
	width: 65px;
}
.product-parameter li .content{
	float: right;
	width: 157px;
}
/*底部图片轮播*/

.recommend-img{
	list-style-type: none;
	margin: 10px auto 0;
	padding: 0;
	width: 180px;
	height: 90px;
	text-align: center;
	position: relative;
}
.box-product-infor .img-prev{
	color: #4AA5FF;
	font-size: 20px;
	line-height: 1;
	float: left;
	margin-left: 4%;
	margin-top: 20px;
	display: none;
}
.box-product-infor .img-next{
	color: #4AA5FF;
	font-size: 20px;
	line-height: 1;
	float: right;
	margin-right: 4%;
	margin-top: 20px;
	font-weight: 400;
	display: none;
}
.recommend-img .slick-prev{
	position: absolute;
	left: -25px;
	top: 18px;
	width: 20px;
	height: 20px;
	text-indent:-9999px;
	opacity: 0;
}
.recommend-img .slick-next{
	position: absolute;
	right: -25px;
	top: 18px;
	width: 20px;
	height: 20px;
	text-indent:-9999px;
	opacity: 0;
}
.recommend-img .list{
	width: 50px;
	height: 90px;
	display: inline-block;
	margin-right: 5px;
}
.recommend-img .list:last-child{
	margin-right: 0;
}
.recommend-img .list img{
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-bottom: 5px;
	border: 1px solid #DADADA;
}
.recommend-img .list .name{
	color: #737373;
	font-size: 12px;
	line-height: 1.1;
	width: 50px;
	height: 45px;
	overflow: hidden;
	text-align: left;
	text-overflow: ellipsis;
}




.box-button{
	float: left;
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
.box-button button{
	width: 120px;
}
